body{
    background-color: rgb(61, 59, 59);
}
h1{
    text-align: center;
    font-size: 2em;
    color: white;
    padding: 20px;
}

#corpo{
    background-color: white;
    display: block;
    height: 600px;
    max-width: 600px;
    min-width: auto;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

#msg{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}
#horario{
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}
div{
    text-align: center;
}

footer{
    color: white;
    text-align: center;
    padding: 20px;
    
}