*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(92, 92, 167);
}
h1{
    text-align: center;
    font-size: 3em;
    color: white;
    padding: 20px;
}

#corpo{
    background-color: white;
    display: block;
    max-width: 600px;
    min-width: auto;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.438);
}

#corppo, div{
    font-size: 1.3em;
    font-weight: 700;
    padding: 15px;

}

#button{
    font-size: 1em;
   background-color: rgb(88, 85, 85);
   color: white;
}

footer{
    color: white;
    text-align: center;
    padding: 20px;
}